.jumbotron {
    background-color: darkslategray;
    height:185vh;
}

h1 {
    color: cyan;
}

.card {
    background-color: cyan;
    color:darkslategray;
    border-color: darkslategray;
}

.btn-primary{
    color:cyan;
    background-color: darkslategray;

}