<div class="jumbotron rounded-0">
  <h1 class="display-6 text-center">This is my portfolio, it only contains a small portion of my work, as I have created several programs using a wide array of coding languages </h1>

  <br>
  <br>
  <div class="text-center">
      <div class="container">
          <div class="row align-items-start">
              <div class="card" style="max-width:33%;">
                  
                  <div class="card-body">
                    <h5 class="card-title">Photo Sharing Application</h5>
                    <p class="card-text">This application was done as a NWU prject where I designed a system for sharing photos with other people</p>
                    <a onClick="window.open('https://github.com/JustinHornsby45/Project_2_-_29955270');" class="btn btn-primary">Visit Repository</a>
                  </div>
                </div>
                <div class="card" style="max-width:33%;">
                  
                  <div class="card-body">
                    <h5 class="card-title">Discovery Miles Application</h5>
                    <p class="card-text">This project was done in collaboration with Discovery Vitality, the project relies heavily on relational databases</p>
                    <a onClick="window.open('https://github.com/JustinHornsby45/CMPG_323_Project_1');" class="btn btn-primary">Visit Repository</a>
                  </div>
                </div>
                <div class="card"style="max-width:33%;">
                  <div class="card-body">
                    <h5 class="card-title">Internship with Matogen</h5>
                    <p class="card-text">This small project was done with a software company to introduce myself to new technologies</p>
                    <a onClick="window.open('https://github.com/JustinHornsby45/Internship-work');" class="btn btn-primary">Visit Repository</a>
                  </div>
                </div>
          </div>
      </div>
  </div>
</div>
