<div class="align-items-center">
  <div class="text-center"><div class="float-container">

    <div class="float-child">
      <img class="rounded-circle" src="/assets/images/WhatsApp Image 2021-08-31 at 5.55.56 PM.jpeg" alt="Me" style="width:250px;height:350px;">
    </div>
    
    <div class="float-child">
      <h1 class="display-6 text-primary">I am a very hard working aspiring software engineer, looking for an opportunity to prove myself in a very competitive world.
        I have a string Back-end background, but I do have the knowledge and skill to for being a fullstack engineer. I have left a few cards displaying
        a few of my skills, but there is much more than that!
      </h1>
    </div>
    
  </div>
  
    <div class="container">
        <div class="row align-items-start">

            <!--Angular card-->
            <div class="card" style="max-width:25%; height: 300px;">
              <div calss="text-center">
                <img src="/assets/images/icons8-angularjs-100.png" class="card-img-top" style="width:96px;height:96px;">
              </div>
                <div class="card-body">
                  <h5 class="card-title">Angular</h5>
                  <p class="card-text">Angular is a new skill I have aquired, mainly used it for an internship with Matogen, as well as this very CV</p>
                  
                </div>
              </div>

              <!--Boostrap card-->
              <div class="card" style="max-width:25%; height: 300px;">
                <div calss="text-center">
                  <img src="/assets/images/icons8-bootstrap-96.png" class="card-img-top" style="width:96px;height:96px;">
                </div>
                <div class="card-body">
                  <h5 class="card-title">Bootstrap</h5>
                  <p class="card-text">I used Boostrap extensivly with multiple web applications I have designed.</p><br>
                  <!--ADD BAR HERE-->
                </div>
              </div>
              
              <!--C# card-->
              <div class="card"style="max-width:25%; height: 300px;">
                <div calss="text-center">
                  <img src="/assets/images/icons8-c-sharp-logo-100.png" class="card-img-top" style="width:96px;height:96px;">
                </div>
                <div class="card-body">
                  <h5 class="card-title">C#</h5>
                  <p class="card-text">The coding language I am most proficient in with the most experience, designed countless windows form applications and websites using ASP.NET</p>
                  <!--ADD BAR HERE-->
                </div>
              </div>
              
              <!--C++ card-->
              <div class="card" style="max-width:25%; height: 300px;">
                <div calss="text-center">
                  <img src="/assets/images/icons8-c++-100.png" class="card-img-top" style="width:96px;height:96px;">
                </div>
                <div class="card-body">
                  <h5 class="card-title">C++</h5>
                  <p class="card-text">Coded multiple shell type programs and algorithms using C++.</p>
                  <!--ADD BAR HERE-->
                </div>
              </div>

              <!--HTML card-->
              <div class="card" style="max-width:25%; height: 300px;">
                <div calss="text-center">
                  <img src="/assets/images/icons8-code-96.png" class="card-img-top" style="width:96px;height:96px;">
                </div>
                <div class="card-body">
                  <h5 class="card-title">HTML</h5>
                  <p class="card-text">experienced in HTML due to using it for my ASP.Net webpages, as well as using it with all my angular and bootstrap applications</p>
                  <!--ADD BAR HERE-->
                </div>
              </div>
              
              <!--CSS/SCSS card-->
              <div class="card" style="max-width:25%; height: 300px;">
                <div calss="text-center">
                  <img src="/assets/images/icons8-css-96.png" class="card-img-top" style="width:96px;height:96px;">
                </div>
                <div class="card-body">
                  <h5 class="card-title">CSS/SCSS</h5>
                  <p class="card-text">I know how to create beautiful sites using CSS/SCSS while I designed my ASP.Net applications</p>
                  <!--ADD BAR HERE-->
                </div>
              </div>
              
              <!--Java card-->
              <div class="card" style="max-width:25%; height: 300px;">
                <div calss="text-center">
                  <img src="/assets/images/icons8-java-96.png" class="card-img-top" style="width:96px;height:96px;">
                </div>
                <div class="card-body">
                  <h5 class="card-title">Java</h5>
                  <p class="card-text">I have a lot of experience in Java, having designed multiple algorithms as well as extensivly using Object Oriented Programming</p>
                  <!--ADD BAR HERE-->
                </div>
              </div>

              <!--SQL card-->
              <div class="card" style="max-width:25%; height: 300px;">
                <div calss="text-center">
                  <img src="/assets/images/icons8-sql-96.png" class="card-img-top" style="width:96px;height:96px;">
                </div>
                <div class="card-body">
                  <h5 class="card-title">SQL</h5>
                  <p class="card-text">Have experience with SQL since most of my designed programs have used a type of relational database.</p>
                  <!--ADD BAR HERE-->
                </div>
              </div>
              
        </div>
    </div>
    </div>
</div>

