  <nav class="navbar navbar-expand-lg" >
    
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <span class="border-bottom border-primary"></span>
          <div class="mx-4 ">
            <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="home">Home</a>
          </li>
          </div>
          <div class="mx-4">
            <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="about">About Me</a>
          </li>
          </div>
          <div class="mx-4">
            <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="contact">Contact Me</a>
          </li>
          </div>
          <div class="mx-4">
            <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="portfolio">Portfolio</a>
          </li>
          </div>
        </ul> 
  </nav>
<router-outlet></router-outlet>